<div class="hero">
  <div class="hero_text">
    <h2 style="font-size: 100px">Rantly</h2>

    <h3>Let it all out</h3>
  </div>
</div>
<div class="bottom_hero">
  <div class="bottom_hero_img"><%= image_tag "reggie.PNG", size: "256x256" %></div>
  <div class="bottom_hero_text">
    <p>"Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark
      Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark
      Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark Bark"
      -Reggie McBain
    </p>
  </div>

</div>

