<div class="hero">
  <div class="hero_text">
    <h1>Rantly</h1>
    <h3>Let it all out</h3>
  </div>
  <div class="bottom_hero">
    <div class="bottom_hero_img"><img src="/photo.PNG"></div>
      <div class="bottom_hero_text">
        "Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly
        Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly
        Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly
        Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly
        Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly
        Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly Rantly" -Jeff Tagart
      </div>
  </div>
</div>