// Place all the styles related to the rants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rant_panel {
  width: 25%;
  background-color: white;
  height: 1000px;
  position: absolute;
}


.login_form {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 10%;
  padding: 2% 0% 2% 0%;
  position: relative;
}

.form_field {
  width: 90%;
}

.register_button {
  width: 90%;
}
