<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar">
      <div class="nav_logo">
        Rant.ly
      </div>
  <p class="join">Join</p>
  <p class="login">Login</p>

</div>
<body>

<%= yield %>

</body>
</html>
